<ngx-spinner bdColor = "rgba(0, 0, 0, 0.2)" size = "medium" color = "#fff" type = "square-jelly-box" [fullScreen] = "true"><p style="color: white" > Loading... </p></ngx-spinner>
<div class="logo">
  <div class="circle1"></div>
  <div class="circle2"></div>
  <div class="circle3"></div>
  <div class="circle4"></div>
  <div class="circle5"></div>
  <div class="circle6"></div>
  <div class="circle7"></div>
  <div class="circle8"></div>
  <div class="circle9"></div>
  <mat-icon class="question1" aria-hidden="false" aria-label="Example home icon">question_mark</mat-icon>
  <mat-icon class="question2" aria-hidden="false" aria-label="Example home icon">question_mark</mat-icon>
  <mat-icon class="question3" aria-hidden="false" aria-label="Example home icon">question_mark</mat-icon>
  <mat-icon class="question4" aria-hidden="false" aria-label="Example home icon">question_mark</mat-icon>
  <mat-icon class="perm1" aria-hidden="false" aria-label="Example home icon">perm_identity</mat-icon>
  <mat-icon class="perm2" aria-hidden="false" aria-label="Example home icon">perm_identity</mat-icon>
  <mat-icon class="perm3" aria-hidden="false" aria-label="Example home icon">perm_identity</mat-icon>
  <mat-icon class="perm4" aria-hidden="false" aria-label="Example home icon">perm_identity</mat-icon>
</div>
<router-outlet></router-outlet>
